version: '2'

services:
  taiga:
    build: .
    depends_on:
      - postgres
    networks:
      - web
      - default
    expose:
      - "80"
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.basic.frontend.rule=Host:taiga.domain.tld"
      - "traefik.basic.port=80"
      - "traefik.basic.protocol=http"
    environment:
      # Host and security
      TAIGA_HOSTNAME: 'taiga.domain.tld'
      TAIGA_SSL: 'False'
      TAIGA_SSL_BY_REVERSE_PROXY: 'True'
      TAIGA_SECRET_KEY: 'taiga_secret_key'
      # Postgres
      TAIGA_DB_NAME: 'taigadb'
      TAIGA_DB_HOST: 'postgres'
      TAIGA_DB_USER: 'taiga'
      TAIGA_DB_PASSWORD: 'postgres_password'
      # Emails
      TAIGA_DEFAULT_FROM_EMAIL: 'taiga@domain.tld'
      TAIGA_ENABLE_EMAIL: 'False'  # Via SMTP
      TAIGA_EMAIL_USE_TLS: 'False'
      TAIGA_EMAIL_HOST: ''
      TAIGA_EMAIL_PORT: ''
      TAIGA_EMAIL_USER: ''
      TAIGA_EMAIL_PASS: ''
      # Events
      #RABBIT_PORT: ''
      #REDIS_PORT: ''
      # Startup
      TAIGA_SLEEP: 15  # Allow the database time to start

  postgres:
    image: postgres
    environment:
      POSTGRES_DB: 'taigadb'
      POSTGRES_PASSWORD: 'postgres_password'
      POSTGRES_USER: 'taiga'
    ports:
      - 5432
    volumes:
      # This helps prevent your postgres data from deleted
      - /var/pgdata:/var/lib/postgresql/data

networks:
  web:
    external: true
